{% extends 'base.html' %}

{% block title %}
    Seznam Filmů
{% endblock title %}

{% block content %}
    <h1>Seznam Filmů:</h1>
    <ul>
        {% for movie in movies %}
            <li><a href="{% url 'movie' movie.id %}">{{ movie.title_cz }}</a>
                ({{ movie.year }})
                {% if perms.viewer.change_movie %}
                    <a href="{% url 'movie_update' movie.id %}">✏️</a>
                {% endif %}
                {% if perms.viewer.delete_movie %}
                    <a href="{% url 'movie_delete' movie.id %}">❌</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'movie_create' %}">Vytvoř nový</a>
{% endblock content %}
